@import "closure-library/closure/goog/css/common.css";
@import "closure-library/closure/goog/css/button.css";
@import "closure-library/closure/goog/css/menu.css";
@import "closure-library/closure/goog/css/menuitem.css";
@import "closure-library/closure/goog/css/menuseparator.css";
@import "closure-library/closure/goog/css/toolbar.css";
@import "closure-library/closure/goog/css/tree.css";
@import "closure-library/closure/goog/css/tab.css";
@import "closure-library/closure/goog/css/tabbar.css";
@import "closure-library/closure/goog/css/dialog.css";
@import "closure-library/closure/goog/css/autocomplete.css";
@import "wgui/css/textinput.css";

/* ページスクロールバー非表示 */
html { overflow: hidden; }
body { overflow: hidden; margin: 4px; }

/* タイトル */
#title {
	font-family: 'Droid Serif', arial, serif;
	font-size: 40px; margin: 0px;
	font-weight: bold; font-style: italic;
	padding-bottom: 20px;
	color: #246;
	text-shadow: 2px 2px 1px #aaa, -1px -1px 0px #acf;
}

/* SplitPane */
.goog-splitpane-first-container, .goog-splitpane-second-container { overflow: hidden;   }
.goog-splitpane-second-container, .goog-splitpane-first-container {  overflow: visible; }
.goog-splitpane-second-container .goog-splitpane-first-container,
.goog-splitpane-second-container .goog-splitpane-second-container { border: none; }
.goog-splitpane-first-container { border: 1px solid #6b90da; }

.goog-splitpane-handle            { background: #ccc; border: solid 1px white; }
.goog-splitpane-handle-horizontal { cursor: col-resize; border-style: none solid; }
.goog-splitpane-handle-vertical   { cursor: row-resize; border-style: solid none; }

/* ツリーコントロール */
.treepane-tree  { overflow: auto; }
.goog-tree-root { margin: 4px; }
.selected .goog-tree-item-label { background-color: rgb(192,192,192); }

/* Closure Library 本の宣伝 */
.treepane-book {
  height: 210px; border-top: solid 1px #6b90da;
  background: white url(files/images/book.png) center center;
  background-repeat: no-repeat;
}
.treepane-book a {
  display: block;
  width: 100%;
  height: 100%;
}

/* タブバー */
.editorpane-tabbar     { padding-left: 4px; font-size: 12px; }
.editorpane-tabcontent { border: 1px solid #6b90da; overflow: auto; }

.editorpane-projname {
	line-height: 1; font-size: 24px; font-weight: bold; padding: 0 0 4px 0; display: none;
}
.editorpane-projname span {
	border: solid 1px white; padding: 0px 8px 0px 8px; cursor: pointer;
}
.editorpane-projname span:hover {
	border: solid 1px #888; background-color: #ffc;
}

/* 保存ダイアログ */
.modal-dialog-bg         { z-index: 10; }
.modal-dialog            { z-index: 11; font-size: 16px; }
.modal-dialog-title      { padding: 4px 8px; }
.modal-dialog-title-text { font-size: 16px; }
.modal-dialog-userInput  { font-size: 16px; width: 90%; }

/* ユーザー名とログアウトボタン */
#user-info {
  font-size: 14px; text-align:right; z-index: 1;
  position: absolute; right: 4px; top: 0;
}

/* アクセスインジケータ */
#xhr-indicator {
  font-weight: bold; color: white; background-color: red;
  position: absolute; left: 50%; top: -4px; z-index: 2;
  width: 200px; margin-left: -100px; padding: 8px 0 4px 0;
  text-align: center;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  box-shadow: 4px 4px 4px #ccc;
  -webkit-box-shadow: 4px 4px 4px #ccc;
  -moz-box-shadow: 4px 4px 4px #ccc;
}

/* CodeMirror */
.CodeMirror-line-numbers {
	margin: 0;
	padding: .4em;
	font-family: monospace;
	font-size: 10pt;
	color: black;
	background-color: #eee;
	text-align:right;
	width: 2em;
	border-right: solid 1px black;
}

/* ツールバーアイコン */
.toolbar-icon {
	background-image: url(files/images/icons.png);
	display: block;
	width: 16px;
	height: 16px;
}
.toolbar-icon-new    { background-position: 0px; }
.toolbar-icon-save   { background-position: -16px; }
.toolbar-icon-clone  { background-position: -32px; }
.toolbar-icon-delete { background-position: -48px; }
.toolbar-icon-rename { background-position: -64px; }
.toolbar-icon-undo   { background-position: -80px; }
.toolbar-icon-redo   { background-position: -96px; }
.toolbar-icon-reload { background-position: -112px; }
.toolbar-icon-info   { background-position: -128px; }

/* 注意点ダイアログ */
#caution-dialog   { font-size: 12px; width: 40em; line-height: 1.5; }
#caution-dialog a { color: gray; }
.modal-dialog-buttons { text-align: right; padding-right: 16px; }

/* コンパイル済みコードの表示 */
.compiledcode    { width:100%; height:100%; overflow:auto; }
.compiledcode ol { font: 12px monospace; margin:0; padding:0 0 0 4em; background-color: #eee;
				   line-height: 18px; }
.compiledcode li { white-space: pre; background-color: white; border-left:solid 1px black;
				   padding-left: 4px; }
